<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vista de login</title>
  </head>
  <body>
    <header>
      <h1>Pantalla de logueo</h1>
    </header>
    <section>
      <form action="../controller/loginController.php" method="post">
        <div class="fcontainer">
          <label for="user">Usuario : </label>
          <input type="text" name="user" id="user" placeholder="Usuario" />
        </div>
        <div class="fcontainer">
          <label for="password">Password : </label>
          <input
            type="text"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="fcontainer">
          <input type="submit" value="Login" />
        </div>
      </form>
    </section>
    <footer>
      <h3>ejemplo de MVC</h3>
    </footer>
  </body>
</html>
